body {
  text-align: center;
  padding: 15px;
  background-color: #9dc5bb;
}

button {
  background-color: #082d0f;
  color: white;
  margin: 10px;
  padding: 8px;
}
.e700 {
  background-color: #082d0f;
  color: white;
  padding: 10px;
  margin: 10px;
}

.Questionable {
  position: relative;
  display: block;
  align-items: center;
  background-color: #dee5e5;
  padding: 10px;
  margin: 10px;
  max-width: 100%;
}

.QuestionableData {
  display: none;
}

.Questionable:hover .QuestionableData {
  display: block;
  padding: 10px;
}

.Sources {
  position: relative;
  display: block;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #dee5e5;
  max-width: 100%;
}

.SourcesList {
  display: none;
}

.Sources:hover .SourcesList {
  display: block;
  padding: 10px;
}

h1,
h2,
p,
a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
