body {
  text-align: center;
  padding: 15px;
  background-color: #9dc5bb;
}

button {
  background-color: #082d0f;
  color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 100px/50px;
}
.e700 {
  background-color: #082d0f;
  color: white;
  padding: 8px;
  margin: 10px;
  border-radius: 100px/50px;
}

.Questionable {
  background-color: #dee5e5;
  padding: 10px;
  margin: 10px;
  border-radius: 100px/50px;
}

.Sources {
  background-color: #dee5e5;
  padding: 5px;
  margin: 10px;
  border-radius: 100px/50px;
}

h1,
h2,
p,
a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
